@model ACKCMS.Models.Accreditation

@{
    ViewBag.Title = "Impresión de Comprobante";
    Layout = "~/Views/Shared/_Certificado.cshtml";
}

<div class="wrapper style2">
    <section class="container">
        <div class="row double">
            <div class="12u">
                <img style="width: 100% !important;" src="@Url.Action("ViewComprobanteAsistenciaHeader", "Base")" />
            </div>
            <div class="12u">
                <center>
                    <h2>
                        Se deja constancia que: <strong>@string.Format("{0}, {1}", Model.Nombre, Model.Apellido)</strong><br />
                        está inscripto/a como <strong>asistente</strong>
                        del @ViewBag.NombreCorto,<br />
                        realizado en la ciudad de Santa Fe,<br />
                        los días @ViewBag.Dias.
                    </h2>
                </center>
            </div>
            <div class="12u">
                <img style="width: 100% !important;" src="@Url.Action("ViewComprobanteAsistenciaFooter", "Base")" />
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            print();
        });
    </script>
}