<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Congreso</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>

    <div class="container body-content">
        <br />  
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
        });
    </script>

    @Scripts.Render("~/Scripts/datepicker/js/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/datepicker/locales/bootstrap-datepicker.es.min.js")
    @Styles.Render("~/Scripts/datepicker/css/bootstrap-datepicker.css")

    @RenderSection("scripts", required: false)
</body>
</html>
