@using AcreditacionesBackend.Models
@model AcreditacionesBackend.Models.Work

@{
    ViewBag.Title = "Ver trabajo";
    var db = new Entities();
    var ack = db.Accreditations.Find(Model.AckID);
    var status = db.WorkStatus.Find(Model.EstadoID);
}

<div>
    <h1>@Html.Raw(AcreditacionesBackend.Utils.HtmlRemoval.StripTagsRegex(Model.Title))</h1>
    <h3>Modalidad: @db.WorkAreas.Find(Model.AreaID).Nombre</h3>
    <h3>Autor/es: @Html.Raw(AcreditacionesBackend.Utils.HtmlRemoval.StripTagsRegex(Model.Autores))</h3>

    @if (Model.WorkDocuments.Any())
    {
        <hr />
        <h2>Archivos Adjuntos</h2>
        foreach (var doc in Model.WorkDocuments.ToList())
        {
            <h4>@doc.Nombre - Subido: @doc.FechaSubido.ToShortDateString() <a href="@Url.Action("GetAttachedFile", "Works", new { id = doc.id})" class="btn btn-success pull-right">Descargar</a></h4>
            <br />
        }
    }

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            <strong>@Html.Raw(Model.Title)</strong>
        </dd>
        <br />
        <div class="row well">
            <dt>
                Cuerpo (Resumen)
            </dt>

            <dd>
                @Html.Raw(Model.Body)
            </dd>
            
            <dt>
                Cuerpo (Trabajo Completo)
            </dt>

            <dd>
                @Html.Raw(Model.FullWorkBody)
            </dd>
        </div>

        <div class="row well">
            <dt>
                Comentarios del evaluador
            </dt>

            <dd>
                @Html.Raw(Model.ComentariosDelEvaluador)
            </dd>
        </div>

        <dt>
            @Html.DisplayNameFor(model => model.AreaID)
        </dt>

        <dd>
            @(db.WorkAreas.Find(Model.AreaID).Nombre)
        </dd>

        <dt>
            Acreditado Nro.
        </dt>

        <dd>
            #@Html.DisplayFor(model => model.AckID) - <strong><a href="@Url.Action("Details", "Administracion", new {id = ack.id})" target="_blank">Ver información del acreditado: @string.Format("{0}, {1}", ack.Apellido, ack.Nombre)</a></strong>
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            #@Html.DisplayFor(model => model.EstadoID) - @status.Nombre
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puntaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntaje)
        </dd>

    </dl>
</div>
<hr />
<p>
    <a href="@Url.Action("Index")" class="btn btn-info">Volver</a>
</p>
