@using AcreditacionesBackend.Models
@model AcreditacionesBackend.Models.Work

@{
    ViewBag.Title = "Review";
    var db = new Entities();
    var ack = db.Accreditations.Find(Model.AckID);
    var status = db.WorkStatus.Find(Model.EstadoID);
}

<h2>Revisión del trabajo presentado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div>
        <h1><strong><i>'@Model.Title'</i></strong></h1>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Título
            </dt>

            <dd>
                <strong>@Html.DisplayFor(model => model.Title)</strong>
            </dd>
            <br />
            <div class="row well">
                <dt>
                    Cuerpo
                </dt>

                <dd>
                    @Html.Raw(Model.Body)
                </dd>
            </div>

            <div class="row well">
                <dt>
                    Notas adicionales
                </dt>

                <dd>
                    @Html.Raw(Model.NotasAdicionales)
                </dd>
            </div>

            <dt>
                Area
            </dt>

            <dd>
                @(db.WorkAreas.Find(Model.AreaID).Nombre)
            </dd>

            <dt>
                Acreditado Nro.
            </dt>

            <dd>
                #@Html.DisplayFor(model => model.AckID) - <strong><a href="@Url.Action("Details", "Administracion", new {id = ack.id})" target="_blank">Ver información del acreditado: @string.Format("{0}, {1}", ack.Apellido, ack.Nombre)</a></strong>
            </dd>

            <dt>
                Estado
            </dt>

            <dd>
                #@Html.DisplayFor(model => model.EstadoID) - @status.Nombre
            </dd>
        </dl>
    </div>

    <div class="form-horizontal">
        <h4>Valorar éste trabajo</h4>
        <h5>Puede guardar su progreso en la evaluación (la nota elegida y sus comentarios) todas las veces que considere necesario. Una vez terminada su evaluación, haga click en "Finalizar evaluación" para confirmar su resultado.</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NotasAdicionales, "Comentarios del evaluador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ComentariosDelEvaluador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ComentariosDelEvaluador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Puntaje, "Puntaje", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <input id="PuntajeRange" value="@Model.Puntaje.GetValueOrDefault(0)" type="range" style="width: 100%" min="0" max="100" step="1" class="form-control col-md-10" onchange=" $('#Puntaje').val($('#PuntajeRange').val()) "/>
                @Html.EditorFor(model => model.Puntaje, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Puntaje, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupervisorUserId, "Estado final", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="@Url.Action("Index")" class="btn btn-info">Cancelar</a>
            </div>
        </div>
    </div>
}